<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Add item for sale</h1>
        </div>
        <form [formGroup]="edititemForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Item name</label><br>
              <input formControlName="name" type="text" [(ngModel)]="item.name" id="name" name="name" style="width: 250px;" required>
              <div *ngIf="submitted && form.name!.errors" class ="alert">
                <div *ngIf="name!.errors?.['required']">
                  Item name is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="category">Category</label>
              <input formControlName="category" type="text"[(ngModel)]="item.category" id="category" name="category" style="width: 250px;" required>
              <div *ngIf="submitted && form.category!.errors" class ="alert">
                <div *ngIf="category!.errors?.['required']">
                  Category is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="buyprice">Buy price</label>
              <input formControlName="buyprice" type="number" min="0" step="any" [(ngModel)]="item.buy_price" id="buyprice" name="buyprice" style="width: 250px;" required>
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstbid">First bid</label>
              <input formControlName="firstbid" type="number" min="0" step="any" [(ngModel)]="item.first_bid" id="firstbid" name="firstbid" style="width: 250px;" required>
              <div *ngIf="submitted && firstbid!.errors" class ="alert">
                <div *ngIf="firstbid!.errors?.['required']">
                  First bid is required
                </div>
              </div>
            </div>
          </div>
          <!--
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="start">Start of auction</label>
                        <input formControlName="start" type="datetime-local" [(ngModel)]="item.started" id="start" name="start" style="width: 250px;" required>
                        <div *ngIf="submitted && start!.errors" class ="alert">
                          <div *ngIf="start!.errors?.['required']">
                            Starting time is required
                      </div>
                        </div>
                      </div>
                    </div>


                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="end">End of auction</label>
                        <input formControlName="finish" type="datetime-local" [(ngModel)]="item.ends" id="end" name="end" style="width: 250px;" required>
                        <div *ngIf="submitted && finish!.errors" class ="alert">
                          <div *ngIf="finish!.errors?.['required']">
                            Ending time is required
                          </div>
                        </div>
                      </div>
                    </div>
          -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="location">Location</label>
              <input formControlName="location" type="text" [(ngModel)]="item.location" id="location" name="location" style="width: 250px;" required>
              <div *ngIf="submitted && location!.errors" class ="alert">
                <div *ngIf="location!.errors?.['required']">
                  Location is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="description">Description</label>
              <input formControlName="description" type="text" [(ngModel)]="item.description" id="description" name="description" style="width: 250px;" required>
              <div *ngIf="submitted && description!.errors" class ="alert">
                <div *ngIf="description!.errors?.['required']">
                  Description is required
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Edit item</button>
        </form>
      </div>
    </div>
  </div>
</div>

