<button mat-raised-button mat-button color="primary" (click)="showMessagePopUp()">New message</button>

<div class="chatbox">
  <ul *ngFor="let message of sentMessages">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sent to: {{message.receiverUsername}}</h5>
        <p class="card-text">{{message.message}}</p>
        <button class="delete" mat-fab color="warn" (click)="deleteMessage(message.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </ul>
</div>

<div  class="overlay" *ngIf="messagePopUp">
  <div class="popup">
    <div class="container">
      <form  [formGroup]="addMessageForm" (ngSubmit)="sendMessage()">
        <div class="form-group">
          <label for="receiverUsername">Send To</label><br>
          <input type="text" formControlName="receiver" id="receiverUsername"  placeholder="Enter receiver username" >
          <div *ngIf="submitted && form.receiver!.errors" class ="alert">
            <div *ngIf="receiver!.errors?.['required']">
              Username is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="messageArea">Message</label><br>
          <textarea formControlName="messageText" id="messageArea" rows="6" placeholder="Enter message" ></textarea>
          <div *ngIf="submitted && form.messageText!.errors" class ="alert">
            <div *ngIf="messageText!.errors?.['required']">
              Provide text
            </div>
          </div>
        </div>
        <button type="submit" mat-raised-button mat-button color="primary">Send</button>
      </form>
    </div>
  </div>
</div>
