<h2>{{username + "'s"}} items</h2>

<div class="container">
  <ul *ngFor='let item of items'>
    <ng-container *ngIf="username == item.sellerUsername">
      <div class="card" style="width: 18rem;">
        <!--
        <img src="..." class="card-img-top" alt="...">
        -->
        <div class="card-body" *ngIf="item.auctionEnds == false">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
        </div>
        <ol class="list-group list-group-flush">

          <!-- initialize start and end vars -->
          <div *ngIf="item.started == '0001-01-01T00:00:00'?myInit(item):false"></div>


          <li class="list-group-item">ItemId: {{item.id}} </li>
          <li class="list-group-item">Category: {{item.category}} </li>
          <li class="list-group-item">Currently: {{item.currently}} </li>
          <li class="list-group-item">Buy Price: {{item.buy_price}} </li>
          <li class="list-group-item">First Bid: {{item.first_bid}} </li>
          <li class="list-group-item">Number Of Bids: {{item.number_of_bids}} </li>
          <li class="list-group-item">Location: {{item.location}} </li>
          <!-- Start and End time dont appear if auction has not started -->
          <li class="list-group-item" *ngIf="item.auctionStarted == true ">Started: {{item.started}} </li>
          <li class="list-group-item" *ngIf="item.auctionStarted == false">Auction has not started</li>
          <li class="list-group-item" *ngIf="item.auctionStarted == true">Ends: {{item.ends}} </li>

          <li class="list-group-item">Seller: {{item.sellerUsername}} </li>
        </ol>

        <div class="card-body-1">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>

        <div class="card-body-1">
          <div *ngIf="end == '0001-01-01T00:00:00' && submitted == false ">
            <label>End date and time</label>
            <input type="datetime-local" [(ngModel)]="item.ends">
          </div>
        </div>

        <button type="submit" class="btn btn-primary" *ngIf="item.auctionStarted == false" (click)="showStart(item)">Start auction</button>
        <button id="btn" type="submit" class="btn btn-primary" *ngIf="item.auctionStarted == false || item.number_of_bids == 0" (click)="showEdit(item)">Edit Auction</button>
        <button id="delete"  class="btn btn-primary" *ngIf="item.auctionStarted == false || item.number_of_bids == 0" (click)="deleteItem(item)">Delete</button>

      </div>
    </ng-container>
  </ul>
</div>

<div class="overlay" *ngIf="show == true ">
  <div class="popup">
    <div class="modal-body">
      <form [formGroup]="edititemForm" (ngSubmit)="editAuction(item)" novalidate>
        <div class="form-group">
          <label for="name">Item name</label>
          <div class="input-group">
            <input formControlName="name" class="form-control" id="name">
          </div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <div class="input-group">
            <input formControlName="category" class="form-control" id="category">
          </div>
        </div>
        <div class="form-group">
          <label for="buy_price">Buy price</label>
          <div class="input-group">
            <input formControlName="buy_price" class="form-control" id="buy_price" type="number" step="any">
          </div>
        </div>
        <div class="form-group">
          <label for="first_bid">First bid</label>
          <div class="input-group">
            <input formControlName="first_bid" class="form-control" id="first_bid" type="number" step="any">
          </div>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <div class="input-group">
            <input formControlName="location" class="form-control" id="location">
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <div class="input-group">
            <input formControlName="description" class="form-control" id="description">
          </div>
        </div>
        <div class="border text-center">
          <button type="submit" data-dismiss="modal" class="btn btn-info" >Save Changes</button>
        </div>

        <!-- Add button to save item -->

      </form>
    </div>
  </div>
</div>


<div class="overlay" *ngIf="startshow == true ">
  <div class="popup">
    <div class="modal-body">
      <form [formGroup]="startitemForm" (ngSubmit)="startAuction(item)" novalidate>

        <div class="form-group">
          <label for="ending_time">Ending Time </label>
          <div class="input-group">
            <input type="datetime-local" formControlName="ends" class="form-control" id="ending_time">
            <div *ngIf="submitted && ends!.errors" class ="alert">
              <div *ngIf="ends!.errors?.['Valid_date']">
                Please enter a valid date and time
              </div>
            </div>
          </div>
        </div>
        <div class="border text-center">
          <button type="submit" data-dismiss="modal" class="btn btn-info" >Save Changes</button>
        </div>

       </form>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
