<h1 class ="title">
  <span style = "color:red"> E</span>
  <span style = "color:blue">b</span>
  <span style = "color:darkorange">o</span>
  <span style = "color:green">y</span>
</h1>

<router-outlet>
  <div *ngIf="authService.isLoggedIn$ | async">
    <nav class="topnav">
      <a routerLink="/items" class="route">Auctions</a>
      <a href="/users/items">My Items</a>
      <a href="/users/bought">Items Bought</a>
      <a href="/messages"> Messages </a>
      <a><button type="submit" (click)="logout()" > Logout </button></a>
    </nav>
    Incoming : {{this.incoming}}
  </div>
</router-outlet>

