.card{
  margin-top: 10px;
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, 50%);
  background: lightblue;
}

.route{
  right: 15px;
  top: 83%;
  position: absolute;
}
