<body xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1> Login </h1>
            <h6> Please enter username and password </h6>

          </div>
          <!--
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="username"> Username </label>
              <input formControlName="username" type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a routerLink="/signup" class="route"> Click to SignUp </a>
          </form>
          -->
          <div>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="username">Username:</label>&nbsp;&nbsp;
                <input type="text" name="username" class="form-control" placeholder="Enter username" [(ngModel)]="model.username" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" style="color: red;">Username is required</div>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>&nbsp;&nbsp;&nbsp;
                <input type="password" name="password" class="form-control" placeholder="Enter password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" style="color: red;">Password is required</div>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
              <a routerLink="/signup" class="route"> Click to SignUp </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!--
<div>
  <h2>Login</h2>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div>
      <label for="username">Username:</label>&nbsp;&nbsp;
      <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" style="color: red;">Username is required</div>
    </div>
    <div style="margin-top: 5px;">
      <label for="password">Password:</label>&nbsp;&nbsp;&nbsp;
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" style="color: red;">Password is required</div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a routerLink="/signup" class="route"> Click to SignUp </a>
  </form>
</div>
-->
