.card-title{
  font-weight: bold;
  font-size: 14px;
}

.chatbox{
  display: block;
  border: 1px solid black;
  padding: 5px;
  width: 80%;
  height: 60%;
  overflow-y: scroll;
  margin: 0 auto;
}

.delete{
  transform: scale(0.7);
  position:absolute;
  top:0;
  right:0;
}

.delete:hover {
  background-color: #bd0000;
}
