<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1> Sign Up </h1>
        </div>
        <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="username">Username:</label><br>
              <input formControlName="username" type="text" [(ngModel)]="user.username" id="username" name="username" style="width: 250px;" required>
              <div *ngIf="submitted && username!.errors" class ="alert">
                <div *ngIf="username!.errors?.['required']">
                  Username is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for ="password">Password:</label><br>
              <input formControlName="password"  type="password" [(ngModel)]="user.password" id="password" name="password" style="width: 250px;" required>
              <div *ngIf="submitted && password!.errors" class ="alert">
                <div *ngIf="password!.errors?.['required']">
                  Password is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for ="confirm_password">Confirm Password:</label><br>
              <input formControlName="confirm_password" type="password" id="confirm_password" name="confirm_password" style="width: 250px;" required>
              <div *ngIf="submitted && confirm_password!.errors" class ="alert">
                <div *ngIf="confirm_password!.errors?.['required']">
                  Password confirmation is required
                </div>
                <div *ngIf="confirm_password!.errors?.['mustMatch']">
                  Passwords must match
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fname">First Name:</label><br>
              <input formControlName="fname" type="text" [(ngModel)]="user.name" id="fname" name="fname" style="width: 250px;">
              <div *ngIf="submitted && fname!.errors" class ="alert">
                <div *ngIf="fname!.errors?.['required']">
                  First Name is required
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="lname">Last Name:</label><br>
              <input formControlName="lname" type="text" [(ngModel)]="user.lastname" id="lname" name="lname" style="width: 250px;">
              <div *ngIf="submitted && lname!.errors" class ="alert">
                <div *ngIf="lname!.errors?.['required']">
                  Last name is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email:</label><br>
              <input formControlName="email" type="email" [(ngModel)]="user.email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" id="email" name="email" style="width: 515px;" required><br>
              <div *ngIf="submitted && email!.errors" class ="alert">
                <div *ngIf="email!.errors?.['required']">
                  Email is required
                </div>
                <div *ngIf="email!.errors?.['email']">
                  Must be valid email address
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="address">Address:</label><br>
              <input formControlName="address" type="text" [(ngModel)]="user.address" id="address" name="address" style="width: 515px;"><br>
              <div *ngIf="submitted && address!.errors" class ="alert">
                <div *ngIf="address!.errors?.['required']">
                  Address is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="location">Location:</label><br>
              <input formControlName="location" type="text" [(ngModel)]="user.location" id="location" name="location" style="width: 515px;"><br>
              <div *ngIf="submitted && location!.errors" class ="alert">
                <div *ngIf="location!.errors?.['required']">
                  Location is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone">Phone Number:</label><br>
              <input formControlName="phone" type="text" [(ngModel)]="user.phone" id="phone" name="phone" style="width: 250px;"><br>
              <div *ngIf="submitted && phone!.errors" class ="alert">
                <div *ngIf="phone!.errors?.['required']">
                  Phone number is required
                </div>
                <div  *ngIf="phone!.errors?.['maxlength']">
                  Phone must be 10 digits
                </div>
                <div *ngIf="phone!.errors?.['minlength']">
                  Phone must be 10 digits
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="afm">AFM:</label><br>
              <input formControlName="afm" type="text" [(ngModel)]="user.afm" id="afm" name="afm" style="width: 250px;"><br>
              <div *ngIf="submitted && afm!.errors" class ="alert">
                <div *ngIf="afm!.errors?.['required']">
                  AFM is required
                </div>
                <div  *ngIf="afm!.errors?.['maxlength']">
                  AFM must be 9 digits
                </div>
                <div *ngIf="afm!.errors?.['minlength']">
                  AFM must be 9 digits
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
