
<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description}}</p>
    </div>
    <ol class="list-group list-group-flush">
      <li class="list-group-item">ItemId: {{item.id}} </li>
      <li class="list-group-item">Category: {{item.category}} </li>
      <li class="list-group-item">Currently: {{item.currently}} </li>
      <li class="list-group-item">Buy Price: {{item.buy_price}} </li>
      <li class="list-group-item">First Bid: {{item.first_bid}} </li>
      <li class="list-group-item">Number Of Bids: {{item.number_of_bids}} </li>
      <li class="list-group-item">Location: {{item.location}} </li>
      <li class="list-group-item">Started: {{item.started}} </li>
      <li class="list-group-item">Ends: {{item.ends}} </li>
      <li class="list-group-item">Seller: {{item.sellerUsername}} </li>
    </ol>
    <div class="card-body-1">
      <button (click)="showBidForm()">Place Bid</button>
    </div>
  </div>
</div>


<div class="overlay" *ngIf="showbidform == true ">
  <div class="popup">
    <div class="modal-body">
      <form [formGroup]="BidForm" (ngSubmit)="placeBid()" novalidate>
        <div class="form-group">
          <label for="bid">Your Bid </label>
          <div class="input-group">
            <input type="number" step="any" formControlName="bid" class="form-control" id="bid">
          </div>
        </div>
        <div class="border text-center">
          <button type="submit" data-dismiss="modal" class="btn btn-info" >Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
